{% extends 'base.html' %}

{% block body_content %}
    <div id="main-wrapper">
        {% include '_nav-header.html' %}
        {% include '_header.html' %}
        {% include '_siderbar.html' %}
        <div class="content-body">
            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="link-primary" href="{% url 'cms:dashboard' %}">Home</a></li>
                        {% block breadcrumbs %}
                        {% endblock breadcrumbs %}
                    </ol>
                </div>
            </div>
            <div class="container-fluid">
                {% block cms_content %}
                {% endblock cms_content %}
            </div>
        </div>
        {% include '_footer.html' %}
    </div>
{% endblock body_content %}